#searchBtn {
    background-color: aquamarine;
    font-weight: 300;
    display: block;
    border-radius: 15px;
}

#searchBtn:hover {
    background-color: darkkhaki;
}

aside {
    background-color: bisque;
    height: 600px;

}

input,
button {
    margin: 0;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}